button{
  width:80px;
  height:50px;
  font-size:1rem;
  background-color:rgb(92, 92, 163);
  border:none;
  color:white;
  border-radius: .5rem;
}
button:hover{
  background-color:rgb(62, 62, 120);
  cursor:pointer;
  box-shadow: 0 4px 8px black;
}
button:active{
  background-color:rgb(92, 92, 163);
  box-shadow: none;
}